/Class_Library/BussinessClass/dist/
/Class_Library/BussinessClass/build/
/UserInterface/UserInterface/dist/
/UserInterface/UserInterface/build/
/UserInterface/UserInterface/nbproject/private/
/Class_Library/BussinessClass/nbproject/private/